/* Import the Open Sans webfont from Google CDN */
body {
  font: normal 81.3%/1.538em "Roboto", sans-serif;
}

/* Fixes */
/*label {*/
  /*margin: inherit;*/
  /*font-weight: 500;*/
/*}*/
.mdc-form-field > label {
  padding-left: 0;
}
.mdc-button {
  text-decoration: none !important;
}

.mdc-tab:hover,
.mdc-tab:focus {
  text-decoration: none;
}

.mdc-toolbar__tinted {
  position: relative;
  background-color: rgba(0, 0, 0, .1);
}

.mdc-toolbar__tinted .mdc-layout-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.mdc-layout-grid__align--left {
  margin: 0;
}

.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
  padding-top: 4rem !important;
}

.tabs__tab {
  border: 1px solid transparent;
}

.tabs.primary {
  margin: 0;
  margin: 0;
}

.tabs.primary .tabs__tab.is-active {
  border-radius: 0; /* LTR */
}

[dir="rtl"] .tabs.primary .tabs__tab.is-active {
  border-top-right-radius: 0;
}

.is-collapse-enabled .tabs__trigger {
  border-radius: 0; /* LTR */
}

[dir="rtl"] .is-collapse-enabled .tabs__trigger {
  border-left: 1px solid transparent;
  border-radius: 0 0 0 0;
}

.is-open .tabs__tab.is-active {
  border-bottom: 1px solid transparent;
}

.is-horizontal .tabs__tab {
  transition: all, 0.3s;
}

.is-horizontal .tabs__tab + .tabs__tab,
[dir="rtl"] .is-horizontal .tabs__tab + .tabs__tab,
.is-horizontal .tabs.primary .tabs__tab:first-child,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:first-child,
.is-horizontal .tabs.primary .tabs__tab:last-child,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:last-child,
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  border-radius: 0;
  border: none;
  margin-left: 0;
  margin-right: 0;
}

.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  display: none;
}

.tabs__tab,
.tabs__tab:hover,
.tabs__tab:focus,
.tabs.primary a:focus {
  background: transparent;
}

.is-horizontal .tabs.primary a:hover {
  text-decoration: underline;
}

nav.is-horizontal.is-collapsible.position-container.is-horizontal-enabled ul.tabs.primary {
  background: #ebebeb;
  margin-left: -2.1rem;
  margin-right: -2.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.is-horizontal .tabs.primary .tabs__tab:first-child.is-active {
  box-shadow: -0.5rem 0px 0 #fff;
}

.is-horizontal ul.tabs.secondary li:first-of-type {
  margin-left: 0;
}

[dir="rtl"] .is-horizontal ul.tabs.secondary li:first-of-type {
  margin-left: 1em;
}

[dir="rtl"] .is-horizontal ul.tabs.secondary li:first-of-type {
  margin-right: 0;
}

.vertical-tabs {
  border-radius: 0;
  border: 1px solid #b5b5b5;
  background: #f2f2f0;
}

.vertical-tabs__panes {
  border: none;
}

.vertical-tabs__menu {
  border-bottom: none;
}

.vertical-tabs__menu-item a {
  border: 0 none;
  transition: all, 0.2s;
}

.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: #D2E7F4;
}

.vertical-tabs__menu-item.is-selected a:hover,
.vertical-tabs__menu-item.is-selected a:focus {
  background: #FCFCFA;
}

.vertical-tabs__menu-item.is-selected {
  border: 0 none;
  box-shadow: none;
}

.button {
  border-radius: 0;
  background-image: none;
  background-color: #F9F9F9;
  text-shadow: none;
  transition: all, 0.2s;
}

.button:hover,
.button:focus {
  background-color: #FFFFFF;
  border-color: #008ee6;
  background-image: none;
}

.button-action:before {
  display: none;
}

/*.action-links {*/
  /*margin: 2em 0;*/
/*}*/

/*.button--primary {*/
  /*background: #0071b8;*/
  /*border-color: #0071b8;*/
/*}*/

/*.button--primary:hover,*/
/*.button--primary:focus {*/
  /*background-image: none;*/
  /*background-color: #1f86c7;*/
  /*border-color: #1f86c7;*/
/*}*/

.button:focus {
  box-shadow: none;
  border-color: rgb(104, 163, 207);
  outline: rgb(193, 224, 255) solid 2px;
}

.button--small:focus {
  outline: none;
}

/*.action-links .button--primary {*/
  /*color: #327EBD;*/
  /*background: #fff;*/
  /*font-size: 14px;*/
  /*padding: 0.33rem 1.33rem;*/
  /*border: 2px solid #327ebd;*/
  /*font-family: sans-serif;*/
  /*border-radius: 999px;*/
  /*font-weight: 600;*/
/*}*/

/*.action-links .button--primary:hover,*/
/*.action-links .button--primary:focus {*/
  /*color: #fff;*/
  /*box-shadow: none;*/
  /*background-image: none;*/
  /*background-color: #327EBD;*/
/*}*/

/*.action-links .button--primary:focus {*/
  /*border-color: #08639b;*/
  /*outline: none;*/
/*}*/

.button--small {
  border-color: #cacaca;
  border-radius: 0.2rem;
  color: #b1b1b1;
  font-weight: 500;
  background: #fff;
}

.button--danger {
  text-decoration: none;
  background-color: transparent;
}

.button--danger:hover {
  text-decoration: underline;
}

/*.js .form-actions .dropbutton .dropbutton-action > * {*/
  /*text-shadow: none;*/
/*}*/

/*.js .form-actions .dropbutton .dropbutton-action > *,*/
/*.js .dropbutton-widget .dropbutton-action a,*/
/*.js .dropbutton-widget .dropbutton-action input,*/
/*.js .dropbutton-widget .dropbutton-action button,*/
/*.js .dropbutton-multiple .dropbutton-widget,*/
/*.js .dropbutton-widget .dropbutton-action input,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {*/
  /*border-radius: 0;*/
  /*font-weight: 500;*/
  /*box-shadow: none;*/
/*}*/

/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {*/
  /*box-shadow: none;*/
/*}*/

/*.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button,*/
/*.form-actions .dropbutton .secondary-action {*/
  /*border-color: #FFFFFF;*/
/*}*/

/*.js .dropbutton-multiple .dropbutton-widget {*/
  /*background: #fcfcfa;*/
  /*background-image: none;*/
  /*text-shadow: none;*/
/*}*/

/*.js .form-actions .dropbutton-multiple .dropbutton-widget {*/
  /*background-color: #0071b8;*/
/*}*/

/*.js .dropbutton-multiple .dropbutton-widget {*/
  /*text-shadow: none;*/
/*}*/

/*.js .dropbutton-multiple.open .dropbutton-action:first-child a,*/
/*.js .dropbutton-multiple.open .dropbutton-action:first-child .button {*/
  /*border-radius: 0;*/
/*}*/

/*.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,*/
/*.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {*/
  /*background-image: none;*/
  /*box-shadow: none;*/
/*}*/

/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,*/
/*.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {*/
  /*background-image:none;*/
  /*background-color: #FFFFFF;*/
/*}*/

.link.tabledrag-toggle-weight {
  margin-bottom: 0.3em;
}

.toolbar {
  font-family: "Open Sans";
}

.toolbar-fixed.toolbar-vertical {
  padding-top: 32px !important;
}

.toolbar a {
  transition: all, 0.2s;
}

.toolbar .toolbar-bar {
  box-shadow: none;
  background-color: #2D2D2D;
}

.toolbar .toolbar-menu {
  background: #333;
}

.toolbar .toolbar-tray-vertical {
  border: none;
  box-shadow: none;
}

.toolbar-tray a {
  color: #BBBBBB;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item {
  font-weight: 600;
}

.toolbar .toolbar-bar .toolbar-item {
  color: #BEBEBE;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover {
  background-image: none;
  background-color: #2D2D2D;
  color: #fff;
  text-decoration: none;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  background-image: none;
  background-color: #333;
  text-decoration: none;
}

.toolbar .toolbar-tray-horizontal .menu-item + .menu-item,
[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item + .menu-item,
.toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-left: none; /* LTR */
  border-right: none;
}

.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.toolbar .toolbar-tray a.is-active {
  color: #bbb;
  text-decoration: none;
  font-weight: 500;
}

.toolbar .toolbar-tray-vertical .menu-item + .menu-item {
  border: 0 none;
}

.toolbar .toolbar-tray {
  background-color: #333;
  box-shadow: -2px 2px 12px rgba(0,0,0,0.85);
}

.toolbar .toolbar-tray-horizontal {
  border-bottom: 1px solid #333;
  box-shadow: none;
}

.toolbar .toolbar-toggle-orientation {
  background-color: #333;
}

.toolbar .toolbar-icon.toolbar-handle:focus {
  background-color: transparent;
}

.toolbar .toolbar-icon.toolbar-handle:before {
  background-image: url(../images/chevron-disc-down.svg);
}

.toolbar .toolbar-icon.toolbar-handle:hover:before {
  background-image: url(../images/chevron-disc-down-hover.svg);
}

.toolbar .toolbar-icon.toolbar-handle.open:before {
  background-image: url(../images//chevron-disc-up.svg);
}

.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before {
  background-image: url(../images/chevron-disc-down.svg);
}

.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:hover:before {
  background-image: url(../images/chevron-disc-down-hover.svg);
}

.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before {
  background-image: url(../images//chevron-disc-up.svg);
}

.toolbar-tray-horizontal a:focus, .toolbar-box a:focus {
  background: transparent;
}

.toolbar .toolbar-tray-vertical .toolbar-menu a {
  color: #BBB;
}

.toolbar .toolbar-tray-vertical .toolbar-menu a:hover {
  color: #fff;
}

.toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
  border: none;
}

.toolbar .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border: none;
}

.dropbutton-single .dropbutton-action a {
  border-radius: 0 !important;
  background-image: none;
  background: #F5F5F2;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  background: #333;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog {
  outline: none;
}

.ui-dialog {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-active,
.ui-button-icon-only.ui-dialog-titlebar-close.ui-widget-content .ui-state-active {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.ui-dialog .ui-dialog-titlebar-close {
  opacity: 0.5;
  transition: all, 0.2s;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
  opacity: 1;
}

.cke_top,
.cke_bottom {
  background: #F7F7F7;
  background-image: none;
  box-shadow: none;
}

.filter-wrapper {
  background: #F7F7F7;
}

.cke_ltr .cke_button:first-child,
.cke_rtl .cke_button:last-child,
.cke_toolgroup {
  border-radius: 0;
}

/* Main menu icons. */
.toolbar-icon-system-admin-content:active:before,
.toolbar-icon-system-admin-content.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/file.svg);
}

.toolbar-icon-system-admin-structure:active:before,
.toolbar-icon-system-admin-structure.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/orgchart.svg);
}

.toolbar-icon-system-themes-page:active:before,
.toolbar-icon-system-themes-page.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/paintbrush.svg);
}

.toolbar-icon-entity-user-collection:active:before,
.toolbar-icon-entity-user-collection.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
}

.toolbar-icon-system-modules-list:active:before,
.toolbar-icon-system-modules-list.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg);
}

.toolbar-icon-system-admin-config:active:before,
.toolbar-icon-system-admin-config.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/wrench.svg);
}

.toolbar-icon-system-admin-reports:active:before,
.toolbar-icon-system-admin-reports.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/barchart.svg);
}

.toolbar-icon-help-main:active:before,
.toolbar-icon-help-main.is-active:before {
  background-image: url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg);
}

/* Main menu icons end. */
.path-batch .layout-container {
  padding-top: 1.3rem;
}

/* Module: Views */
.views-display-top {
  background-color: #fafafa;
  border-bottom: 1px solid #f2f2f2;
}

.views-displays {
  border: 1px solid #e8e8e8;
}

.views-admin .form-edit .form-actions {
  border-color: #e8e8e8;
  background-color: #fafafa;
}

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: inherit;
}

.views-displays .tabs.secondary a {
  border-radius: 0;
}

.view-preview-form__title {
  background-color: #fafdfe;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.2em;
}

.views-preview-wrapper {
  border: 1px solid #e8e8e8;
}

.views-ui-dialog .views-override {
  background-color: #f6f6f6;
}
