/* ---------- Material Design Color Schemes ----------- */
:root {

  /* Sets the text color to the theme primary color. */
  --mdc-theme-primary: #546e7a;
  --mdc-theme--primary-bg: #ffffff;

  /* Sets the text color to the theme accent color. */
  --mdc-theme--secondary: #ff6d00;
  --mdc-theme--secondary-bg: #ffffff;

  /* Sets the background color to the theme background color. */
  /*--mdc-theme--background: #f2f2f2;*/

  --mdc-theme--grey-f5: #F5F5F5;
  --mdc-theme--grey-f7: #F7F7F7;
  --mdc-theme--grey-f0: #F0F0F0;

  --mdc-theme--red-ea: #EA4346;
  --mdc-theme--green-45: #45B269;
  --mdc-theme--yellow-fd: #FDA738;
  --mdc-theme--blue-30: #309efd;

}

/* ---------- Primary Colors ----------- */
.content-header {
  background-color: var(--mdc-theme-primary, #546e7a);
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  color: var(--mdc-theme--primary-bg, #ffffff);
}

a,
.link {
  color: var(--mdc-theme-primary, #546e7a);
}

/* ---------- Primary Colors > Light ----------- */

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--mdc-theme--secondary, #ff6d00);
}

/* ---------- Primary Colors > Dark ----------- */

/* ---------- Accent Colors ----------- */

/* ---------- Accent Colors > Light ----------- */

/* ---------- Accent Colors > Dark ----------- */