/* flex */
.mdc-form-field.mdc-form-field--flex {
  display: flex;
}
.mdc-form-field.mdc-form-field--flex.mdc-form-field--align-end > label {
  margin-left: 0;
}

/* block */
.mdc-form-field.mdc-form-field--block {
  display: block;
  min-width: 100%;
}
.mdc-form-field.mdc-form-field--block + .mdc-form-field--block {
  margin-top: 10px;
}
.mdc-form-field.mdc-form-field--block.mdc-form-field--align-end > label {
  margin-left: 0;
}

/* align-top */
.mdc-form-field.mdc-form-field--align-top {
  flex-direction: column;
  align-items: unset;
}
.mdc-form-field.mdc-form-field--align-top > label {
  order: -1;
  margin-left: 0;
  margin-right: 0;
}

/* combined + wide-input */
.mdc-form-field.mdc-form-field--block.mdc-form-field--align-top.mdc-form-field--wide-input input[type=text], .mdc-form-field.mdc-form-field--block.mdc-form-field--align-top.mdc-form-field--wide-input select, .mdc-form-field.mdc-form-field--block.mdc-form-field--align-top.mdc-form-field--wide-input textarea {
  width: 100%;
}
.mdc-form-field.mdc-form-field--block.mdc-form-field--align-top.mdc-form-field--wide-input select.mdc-select {
  max-width: unset;
}

.outline {
  border: solid 1px gray;
  padding: 15px;
  width: 600px;
  margin-bottom: 10px;
}
.outline h3, .outline p {
  margin: 0;
}
.outline p {
  font-size: 14px;
}
.outline header {
  margin-bottom: 10px;
}
.mdc-anchor--button{
    line-height: 1.8;
}
a.mdc-anchor--button:hover{
  border-color: #1a1a1a;
}