footer {
  margin: 0;
  padding: 5px 0 0 0;
  border-top: 1px solid #E6E6E6;
  display: flex;
  color: #9E9E9E;
  font-size: 1.05em;
}

footer .mdc-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .mdc-footer__logo:before {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: top;
  background: url(../../../core/themes/seven/images/icons/cccccc/d8-logo.svg) 50% center no-repeat;
  background-size: 35px;
}

footer .mdc-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}