/* ---------- Header ----------- */
.content-header {
	padding: 0;
}

.content-header .mdc-layout-grid {
	padding-bottom: 0;
}

.page-content {
	margin-bottom: 2em;
}

/* ---------- System Modules ----------- */
.system-modules td {
	vertical-align: middle;
	padding-left: inherit;
}

/* ---------- Form Grids ----------- */
.mdc-layout-grid__cell {
	--mdc-layout-grid-margin-desktop: 40px;
	--mdc-layout-grid-gutter-tablet: 16px;
	--mdc-layout-grid-gutter-phone: 8px;
}

/* ---------- Color Form ----------- */
/* @todo: put in a proper stylesheet for color.css override */
.color-form {
	max-width: 100%;
}

.color-palette {
	margin: 40px 0 0 0;
}

.color-palette .mdc-form-field.mdc-form-field--flex {
	border-radius: 0;
	overflow: visible;
	min-width: 75%;
	margin-bottom: 40px;
}

.color-palette .mdc-form-field.mdc-textfield--box::before,
.color-palette .mdc-form-field.mdc-textfield--box::after {
	display: none !important;
}

.color-palette .mdc-form-field .mdc-textfield__input {
	max-width: 75%;
	padding: 0 0 0 10px;
}

.color-palette .mdc-form-field .mdc-textfield__label {
	top: -10px;
	left: 0;
}

.color-palette .material-icons {
	top: -47px;
	position: relative;
	left: -12px;
	background: none;
	cursor: pointer;
}

.color-placeholder {
	float: none;
}

.mdc-select {
	max-width: 100%;
}

/* ---------- Cards ----------- */
.mdc-card__primary .mdc-card__title--large {
	padding: 0;
}

.card-container {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.demo-card {
	display:flex;
	height: 100%;
	justify-content: space-around;
}

.demo-card--with-avatar .mdc-card__primary {
	display: table;
	width: calc(100% - 32px);
}

.demo-card--with-avatar .mdc-card__title {
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}

.demo-card--with-avatar i {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
	font-size: 1.5rem;
	font-style: normal;
	background-color: var(--mdc-theme-primary, #546e7a);
	color: var(--mdc-theme--primary-bg, #ffffff);
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
}