#block-mdc-local-actions {
  margin-top: 1.5em;
  margin-bottom: 2rem;
}

.mdc-layout-grid__inner .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 {
  margin-bottom: 1.5rem;
}

/* fix for the settings page */
.system-theme-settings .mdc-layout-grid__inner .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 {
  margin-bottom: 0;
}