/**
 * @file
 * Theme styling for user module.
 */

/* Visual styling for the Password strength indicator */
.password-strength__meter {
	margin: 0.5em 0;
	background-color: #ebeae4;
	height: .75em;
	border-radius: .75em;
}
.password-strength__indicator {
	background-color: #77b259;
	-webkit-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	border-radius: .75em;
}

.password-strength__indicator.is-weak {
	background-color: var(--mdc-theme--red-ea, #EA4346);
}
.password-strength__indicator.is-fair {
	background-color: var(--mdc-theme--yellow-fd, #FDA738);
}
.password-strength__indicator.is-good {
	background-color: var(--mdc-theme--blue-30, #309efd);
}
.password-strength__indicator.is-strong {
	background-color: var(--mdc-theme--green-45, #45B269);
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match {
	margin-top: 1em;
	width: 100%;
	max-width: 426px;
}

.password-suggestions {
	padding: 1em;
	margin: 1em 0 0 0!important;
	width: 100%;
	max-width: 426px;
	background-color: var(--mdc-theme--grey-f7, #F7F7F7);

}
.password-suggestions ul {
	margin-bottom: 0;
}

.confirm-parent,
.password-parent {
	clear: left; /* LTR */
	margin: 0;
	max-width: 33em;
	overflow: hidden;
}
[dir="rtl"] .confirm-parent,
[dir="rtl"] .password-parent {
	clear: right;
}

/* Styling for the status indicator of the passwords match test.  */
.password-confirm .ok {
	color: #325e1c;
	font-weight: bold;
}
.password-confirm .error {
	color: #a51b00;
	font-weight: bold;
}
