{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *   - type: The input type that gets assigned to the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    label_type not in ['textfield', 'email', 'password', 'entity_autocomplete'] ? 'mdc-' ~ label_type ~ '__label',
    label_type in ['textfield', 'email', 'password', 'entity_autocomplete'] ? 'mdc-textfield__label',
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
