{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set add_classes = ['mdc-button', 'mdc-button--stroked'] %}
{% set remove_classes = ['form-submit', 'js-form-submit', 'button', 'button--small'] %}

{% if attributes.hasClass('button--primary') %}
    {% set add_classes = ['mdc-button', 'mdc-button--raised', 'mdc-button--primary'] %}
    {% set remove_classes = ['form-submit', 'js-form-submit', 'button', 'button--small', 'button--primary'] %}
{% endif %}

<input{{ attributes.addClass(add_classes).removeClass(remove_classes).setAttribute('data-mdc-auto-init', 'MDCRipple') }}>
{{ children }}