{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes.addClass('mdc-textfield__input').removeClass('form-search').setAttribute('data-mdc-auto-init', 'MDCRipple') }} />