{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set classes =
  [
    'mdc-switch__native-control',
  ]
%}
<div class="mdc-switch" data-mdc-auto-init="MDCSwitch">
  <input {{ attributes.addClass(classes) }} />
  <div class="mdc-switch__background">
    <div class="mdc-switch__knob"></div>
  </div>
</div>
