{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}

{% set remove_classes = ['form-select'] %}
{% if attributes.multiple is not null %}
  {% set add_classes = ['mdc-multi-select', 'mdc-list'] %}
{% else %}
  {% set add_classes = ['mdc-select'] %}
{% endif %}

{% spaceless %}
  <select{{ attributes.addClass(add_classes).removeClass(remove_classes) }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup class="mdc-list-group" label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option class="mdc-list-item" value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>
              {{ sub_option.label }}
            </option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endspaceless %}