{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{%
  set wrapper_classes = [
    'mdc-textfield',
    'mdc-textfield--multiline',
    'mdc-textfield--fullwidth',
    'mdc-textfield--upgraded',
  ]
%}
<div{{ wrapper_attributes.addClass(wrapper_classes) }}>
  <textarea{{ attributes.addClass('mdc-textfield__input') }}>{{ value }}</textarea>
</div>
