{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

<details class="mdl-expansion mdc-elevation--z2 mld-expansion__padded">
  <summary class="mdl-expansion__summary">
    <span class="mdl-expansion__secondary-content"><i class="material-icons">filter_list</i></span>
    <span class="mdl-expansion__header">{{ 'Filter' | t }}</span>
  </summary>
  <div class="mdl-expansion__content">
    {% if q is not empty %}
      {#
        This ensures that, if clean URLs are off, the 'q' is added first,
        as a hidden form element, so that it shows up first in the POST URL.
      #}
      {{ q }}
    {% endif %}
    {{ form }}
  </div>
</details>