{#
/**
 * @file
 * Seven's theme implementation for the content of an administrative block.
 *
 * Uses unordered list markup in both compact and extended modes.
 *
 * Available variables:
 * - content: List of administrative menu items. Each menu item contains:
 *   - url: Path to the admin section.
 *   - title: Short name of the section.
 *   - description: Description of the administrative menu item.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 * @see seven_preprocess_admin_block_content()
 */
#}
{% if content %}
  <div class="mdc-layout-grid__inner">

  {% for item in content %}
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">

    <div class="mdc-card demo-card demo-card--with-avatar">
      <section class="mdc-card__primary">
        <i>{{ item.title|first }}</i>
        <h1 class="mdc-card__title">{{ item.title }}</h1>
      </section>

      <section class="mdc-card__supporting-text">
        {{ item.description }}
      </section>
      <section class="mdc-card__actions">
        <a class="mdc-button mdc-button--compact mdc-card__action" href="{{ item.url }}">{{ 'View'|trans }} {{ item.title }}</a>
      </section>
    </div>

  </div>
  {% endfor %}

  </div>
{% endif %}