{#
/**
 * @file
 * Theme override for an administrative block.
 *
 * Available variables:
 * - block: An array of information about the block, including:
 *   - show: A flag indicating if the block should be displayed.
 *   - title: The block title.
 *   - content: (optional) The content of the block.
 *   - description: (optional) A description of the block.
 *     (Description should only be output if content is not available).
 */
#}
{% if block.title %}
  <h2>{{ block.title }}</h2>
{% endif %}

<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {% if block.content %}
      <div>{{ block.content }}</div>
    {% elseif block.description %}
      <div>{{ block.description }}</div>
    {% endif %}
  </div>
</div>
