{#
/**
 * @file
 * Seven's theme implementation to list node types available for adding content.
 *
 * Available variables:
 * - types: List of content types. Each content type contains:
 *   - url: Path to the add content of this type page.
 *   - label: The title of this type of content.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 * @see seven_preprocess_node_add_list()
 */
#}
{% if content %}
  <div class="mdc-layout-grid__inner">
    {% for type in types %}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-phone">
        <div class="mdc-card demo-card demo-card--with-avatar">
          <section class="mdc-card__primary">
            <i>{{ type.label|first }}</i>
            <h1 class="mdc-card__title">{{ type.label }}</h1>
          </section>
          <section class="mdc-card__supporting-text">
            {{ type.description }}
          </section>
          <section class="mdc-card__actions">
            <a class="mdc-button mdc-button--compact mdc-card__action" href="{{ type.url }}">{{ 'Add'|trans }} {{ type.label }}</a>
          </section>
        </div>
      </div>
    {% endfor %}
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}