{#
/**
 * @file
 * Theme override for displaying a tablesort indicator.
 *
 * Available variables:
 * - style: Either 'asc' or 'desc', indicating the sorting direction.
 */
#}
{%
  set classes = [
    'align-right'
  ]
%}

<span{{ attributes.addClass(classes) }}>
  <i class="material-icons">
    {% if style == 'asc' -%}
      {{ 'arrow_downward' }}
    {% else -%}
      {{ 'arrow_upward' }}
    {% endif %}
  </i>
</span>
