{#
/**
 * @file
 * Seven theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup themeable
 */
#}
{% if primary %}

  <div class="mdc-toolbar mdc-toolbar__tinted">
    <div class="mdc-layout-grid mdc-layout-grid__align--left">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2 id="primary-tabs-title" class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
        <div class="mdc-toolbar__section">
          <nav role="navigation" class="mdc-tab-bar mdc-tab-bar-upgraded" data-mdc-auto-init="MDCTabBar" aria-labelledby="primary-tabs-title">
            {{ primary }}
            <span class="mdc-tab-bar__indicator"></span>
          </nav>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% if secondary %}

  <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2 id="secondary-tabs-title" class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <div class="mdc-toolbar__section">
      <nav role="navigation" class="mdc-tab-bar mdc-tab-bar-upgraded" data-mdc-auto-init="MDCTabBar" aria-labelledby="primary-tabs-title">
        {{ secondary }}
        <span class="mdc-tab-bar__indicator"></span>
      </nav>
    </div>
  </div>

{% endif %}
