.mdl-expansion {
  height: auto;
  border: none;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.mdl-expansion__summary {
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  display: flex;
  outline: none;
}
.mdl-expansion__summary:hover,
.mdl-expansion__summary:focus {
  text-decoration: none;
}
.mdl-expansion__summary::-webkit-details-marker {
  display: none;
}
.mdl-expansion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  flex-basis: 30%;
  margin-right: 16px;
}
.mdl-expansion__summary:hover {
  color:  var(--mdc-theme-primary, #546e7a);
}
.mdl-expansion__summary:hover .mdl-expansion__secondary-content{
  color:  var(--mdc-theme-primary, #546e7a);
}
.mdl-expansion__header.mdc-typography--body1 {
  color: var(--mdc-theme--blue-30, #309efd);
  text-transform: capitalize;
}

.mdl-expansion__subheader {
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.54);
}
.mdl-expansion__secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 16px;
}

.mdl-expansion__content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mdl-expansion__content > .mdc-form-field:first-child,
.mdl-expansion__content > .mdc-textfield ~ .mdc-textfield {
  margin-top: 0;
}

.mdl-expansion__content label {
  min-width: 125px;
  display: inline-block;
}


.mdl-expansion__summary::-webkit-details-marker {
  display: none;
}

.mdl-expansion__summary::after {
  font-family: 'Material Icons';
  content: '\e313';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  transition: transform 200ms, color 200ms;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.38);
}

.mdl-expansion__summary:focus {
  /* Grey 200 */
  background-color: #EEEEEE;
}

.mdl-expansion__summary:focus::after {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-expansion[open] .mdl-expansion__summary::after {
  transform: rotate(180deg);
}
