/**
 * @file
 * Styles for system messages.
 */
.messages {
  color: #fff;
  margin: 15px 0 15px 0;
  padding: 20px; /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.25em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.mdc-messages__content em{
  padding-right: 2px;
}

.mdc-messages__icon {
  padding: 0 15px 0 0;
}

/* message tweaks */
[dir="rtl"] .messages {
  text-align: right;
}
.messages + .messages {
  margin-top: 1.538em;
}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}

/* success */
.messages--status {
  background-color: var(--mdc-theme--green-45, #45B269);
}

/* warning */
.messages--warning {
  background-color: var(--mdc-theme--yellow-fd, #FDA738);
}

/* error */
.messages--error {
  background-color: var(--mdc-theme--red-ea, #EA4346);
}

/* link fix to stop inheriting the mdc primary colour */
.messages a {
  color: white;
  text-decoration: underline;
}
.messages a:hover {
  color: white;
  text-decoration: none;
}