/**
 * @file
 * MDC styles for Tables.
 */

table {
  width: 100%;
  /*margin: 0;*/
}
caption {
  text-align: left; /* LTR */
}
[dir="rtl"] caption {
  text-align: right;
}
th {
  text-align: left; /* LTR */
  padding: 10px 12px;
}
[dir="rtl"] th {
  text-align: right;
}

thead th {
  background: var(--mdc-theme--grey-f5, #F5F5F5);
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
}

thead th .material-icons {
  font-size: 18px;
}

tr {
  border-bottom: 1px solid #e6e4df;
  padding: 0.1em 0.6em;
}
thead > tr {
  border-bottom: 1px solid #000;
}
tbody tr:hover,
tbody tr:focus {
  background: var(--mdc-theme--grey-f0, #F0F0F0);
}

tr.selected td {
  background: var(--mdc-theme--grey-f7, #F7F7F7);
}

/* See colors.css */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
  background: #fdf8ed;
}
tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: #fcf4f2;
}

td,
th {
  vertical-align: middle;
}
td {
  padding: 10px 12px;
  text-align: left; /* LTR */
}
[dir="rtl"] td {
  text-align: right;
}
th > a {
  position: relative;
  display: block;
}

td .item-list ul {
  margin: 0;
}
/* This is required to win over specificity of [dir="rtl"] .item-list ul */
[dir="rtl"] td .item-list ul {
  margin: 0;
}
td.is-active {
  background: none;
}

/* Force browsers to calculate the width of a 'select all' <th> element. */
th.select-all {
  width: 1px;
}

/**
 * Captions.
 */
.caption {
  margin-bottom: 1.2em;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}


/* overrides */
thead th {
  border: none;
  color: #909090;
  text-transform: none;
  font-weight: 500;
  font-size: 0.91rem;
}

thead th.is-active {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #E6E4DF;
  border-left: 1px solid #E6E4DF;
  border-right: 1px solid #E6E4DF;
}

th.is-active > a,
th.is-active > a:hover {
  color: #333;
}

th > a:hover {
  text-decoration: underline;
}

th > a:after,
th.is-active > a:after {
  display: none;
}

thead > tr {
  border-bottom: 1px solid #E6E4DF;
}

/*-- tabledrag.module.css --*/
.draggable a.tabledrag-handle {
  margin-left: 0;
  padding-right: 1em;
  color: inherit;
}
.tabledrag-handle .material-icons {
  font-size: 1.4em;
}