{#
/**
 * @file
 * Default theme implementation for a theme's color form.
 *
 * Available variables:
 * - form: Form elements for the color scheme form, including:
 *   - scheme: A color scheme form element. For example: a select element with
 *     color theme presets, or a color picker widget.
 *   - palette: Color fields that can be changed by entering in a new hex value.
 * - html_preview: A HTML preview of the theme's current color scheme.
 *
 * @see template_preprocess_color_scheme_form()
 *
 * @ingroup themeable
 */
#}
<div class="color-form clearfix">
  <div class="mdc-layout-grid__inner">

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <div class="clearfix">
        {{ form.scheme }}
        {{ form|without('scheme', 'palette') }}
        <div class="color-palette js-color-palette">
          {{ form.palette }}
        </div>
        {{ preview_button }}
      </div>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <div class="color-picker">
      </div>
    </div>

  </div>
</div>
